/* index.css */
/* 
  전체 페이지에 공통으로 적용되는 기본 스타일
  - 폰트, 안티알리아싱 설정 등
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* 글자가 부드럽게 보이도록 하는 옵션들 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 코드(fixed width) 폰트 스타일 */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
